.footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  gap: 16px;
  background-color: #353535;
}
.footer i {
  width: 16px;
}
.footer__logo {
  height: 27px;
  width: 99px;
  filter: invert(100%);
}
.footer__container {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}
.footer__container .footer__container--option {
  display: flex;
  gap: 10px;
}

@media (min-width: 1080px) {
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px 25px;
    gap: 16px;
  }
  .footer__logo {
    height: 27px;
    width: 138px;
    filter: invert(100%);
  }
  .footer__container {
    flex-direction: row;
    gap: 7px;
  }
}