/****** General ***********/
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@200;400&family=Montserrat&family=Roboto:ital,wght@1,100;1,400&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@200;400&family=Montserrat&family=Roboto:ital,wght@0,400;1,100;1,400&family=Shrikhand&display=swap");
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .header__logocontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 13px;
  position: relative;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.header .header__logocontainer .header__logocontainer--previously {
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #353535;
  position: absolute;
  left: 17px;
  top: 14px;
}
.header .header__logocontainer .header__logocontainer--logo {
  width: 162px;
  height: 36px;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}
.header .header__localisation {
  display: flex;
  width: 100%;
  gap: 17px;
  color: var(--grey-darker);
  background-color: #eaeaea;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  gap: 16px;
  background-color: #353535;
}
.footer i {
  width: 16px;
}
.footer__logo {
  height: 27px;
  width: 99px;
  filter: invert(100%);
}
.footer__container {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}
.footer__container .footer__container--option {
  display: flex;
  gap: 10px;
}

@media (min-width: 1080px) {
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px 25px;
    gap: 16px;
    width: 100%;
  }
  .footer__logo {
    height: 27px;
    width: 138px;
    filter: invert(100%);
  }
  .footer__container {
    flex-direction: row;
    gap: 7px;
  }
}
.firstpart {
  display: flex;
  flex-direction: column;
}
.firstpart .firstpart__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding-top: 39px;
  padding-bottom: 57px;
}
.firstpart .firstpart__intro h2 {
  display: flex;
  width: 275px;
  height: 68px;
  align-items: center;
  text-align: center;
}
.firstpart .firstpart__intro p {
  display: flex;
  width: 315px;
  height: 46px;
  align-items: center;
  text-align: center;
  font-size: 1.125em;
  font-weight: 300;
  color: #353535;
}
.firstpart .firstpart__intro .firstpart__intro--button {
  height: 50px;
  padding: 0px 18.75px;
  margin-top: 27px;
  color: white;
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition-duration: 300ms;
  max-width: 218px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(#9356dc -11.44%, #FF79DA 123.93%);
  transition-duration: 1s;
}
.firstpart .firstpart__intro .firstpart__intro--button:hover {
  transform: scale(1.05);
  opacity: 0.9;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
}
.firstpart .firstpart__fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 68px 20px;
  gap: 26px;
}
.firstpart .firstpart__fonctionnement h2 {
  display: flex;
}
.firstpart .firstpart__fonctionnement ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  list-style-type: none;
}
.firstpart .firstpart__fonctionnement ul li {
  display: flex;
  width: 322px;
  height: 72px;
  gap: 27px;
  text-align: center;
  counter-increment: list;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.firstpart .firstpart__fonctionnement ul li::before {
  display: flex;
  content: counter(list);
  border-radius: 50%;
  background-color: #9356dc;
  font-size: 14px;
  color: white;
  font-weight: 500;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 26.86px;
  margin-left: -14px;
  z-index: 1;
  position: absolute;
}

.firstpart__fonctionnement--etape {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 22px;
  gap: 27px;
  width: 100%;
}
.firstpart__fonctionnement--etape .fa-mobile-screen-button, .firstpart__fonctionnement--etape .fa-list {
  color: #353535;
}
.firstpart__fonctionnement--etape .fa-store {
  color: #9356dc;
}

@media (min-width: 1080px) {
  .firstpart__fonctionnement {
    justify-content: center;
    align-items: center;
  }
  .firstpart__fonctionnement h2 {
    display: flex;
    width: 1052px;
    justify-content: flex-start;
  }
  .firstpart ul {
    flex-direction: row !important;
    justify-content: center !important;
    padding-left: 14px;
    gap: 36px !important;
  }
}
.secondpart {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-top: 54px;
  padding-bottom: 66px;
  gap: 26px;
}
.secondpart h2 {
  display: flex;
  text-align: center;
  padding-left: 20px;
}

.width100center {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: black;
  justify-content: center;
}

.restocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.restocontainer__card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: #FFF;
  width: calc(100% - 35px);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restocontainer .new {
  position: relative;
}
.restocontainer .new::before {
  content: "Nouveau";
  position: absolute;
  right: 21.62px;
  top: 13px;
  padding: 7px 10px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #1b6150;
  font-size: 14px;
}
.restocontainer__card--img {
  height: 231px;
  border-radius: 15px 15px 0px 0px;
  border: 3px solid #f6f6f6;
  background-size: cover;
  background-position: center;
}
.restocontainer .restocontainer__card--img_1 {
  background-image: url("../restaurants/resto1.jpg");
}
.restocontainer .restocontainer__card--img_2 {
  background-image: url("../restaurants/resto2.jpg");
}
.restocontainer .restocontainer__card--img_3 {
  background-image: url("../restaurants/resto3.jpg");
}
.restocontainer .restocontainer__card--img_4 {
  background-image: url("../restaurants/resto4.jpg");
}

.restocontainer__card--content {
  display: flex;
  flex-direction: column;
  padding: 16px 0px 12px 13px;
  gap: 5px;
  position: relative;
}
.restocontainer__card--content h3 {
  font-size: 18px;
}
.restocontainer__card--content p {
  font-size: 17px;
  font-weight: 300;
}
.restocontainer__card--content i {
  position: absolute;
  right: 25px;
  top: 50%;
}
.restocontainer__card--content .fa-solid {
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition-duration: 1s;
  background-image: linear-gradient(#9356dc -11.44%, #FF79DA 123.93%);
  transform: scale 1.05;
}
.restocontainer__card--content .fa-solid:hover {
  opacity: 1;
}

@media (min-width: 1080px) {
  .secondpart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .secondpart h2 {
    display: flex;
    justify-content: flex-start;
    width: 1052px;
    padding: 0px;
  }
  .restocontainer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 100px;
    justify-content: center;
    width: 1152px;
  }
  .restocontainer__card {
    width: 100%;
  }
  .restocontainer .width100center {
    width: calc(50% - 100px);
    max-width: 490px;
  }
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  position: fixed;
  height: 100vh;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  animation: fader 0.5s 2s both;
  transform-origin: top;
}
.loader::after {
  content: "";
  width: 50px;
  height: 50px;
  border-top: solid 5px #9356dc;
  border-bottom: solid 5px #ff79da;
  border-radius: 50%;
  animation: spin 2s linear;
  z-index: 3;
}

@keyframes showup {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fader {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
header img {
  display: block;
  width: 100%;
  height: 36vh;
  object-fit: cover;
}

.main-resto {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #f6f6f6;
  max-width: 1055px;
}
.main-resto h2 {
  font-family: "shrikhand", sans-serif;
  position: relative;
  width: 100%;
  padding: 32px 17px 0px 17px;
  margin-top: -32px;
  border-radius: 32px 32px 0 0;
  background: #f6f6f6;
  max-width: 1055px;
}
.main-resto h2 i {
  position: absolute;
  right: 28px;
  top: 36.5px;
}
.main-resto h2 .fa-solid {
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition-duration: 1s;
  background-image: linear-gradient(#9356dc -11.44%, #FF79DA 123.93%);
  transform: scale 1.05;
}
.main-resto h2 .fa-solid:hover {
  opacity: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 13px;
}
.menu h3 {
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  padding-bottom: 12px;
}
.menu h3::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  top: 29px;
}
.menu__choix {
  display: flex;
  flex-direction: row;
  padding: 15px;
  gap: 5px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: showup 1s;
  animation-fill-mode: both;
  background-color: white;
}
.menu__choix:nth-child(1) {
  animation-delay: 100ms;
}
.menu__choix:nth-child(2) {
  animation-delay: 200ms;
}
.menu__choix:nth-child(3) {
  animation-delay: 300ms;
}
.menu__choix:nth-child(4) {
  animation-delay: 400ms;
}
.menu__choix:nth-child(5) {
  animation-delay: 500ms;
}
.menu__choix:nth-child(6) {
  animation-delay: 600ms;
}
.menu__choix:nth-child(7) {
  animation-delay: 700ms;
}
.menu__choix:nth-child(8) {
  animation-delay: 800ms;
}
.menu__choix:nth-child(9) {
  animation-delay: 900ms;
}
.menu__choix:nth-child(10) {
  animation-delay: 1000ms;
}
.menu__choix:nth-child(11) {
  animation-delay: 1100ms;
}
.menu__choix:nth-child(12) {
  animation-delay: 1200ms;
}
.menu__choix:nth-child(13) {
  animation-delay: 1300ms;
}
.menu__choix:nth-child(14) {
  animation-delay: 1400ms;
}
.menu__choix:nth-child(15) {
  animation-delay: 1500ms;
}
.menu__choix:nth-child(16) {
  animation-delay: 1600ms;
}
.menu__choix:nth-child(17) {
  animation-delay: 1700ms;
}
.menu__choix:nth-child(18) {
  animation-delay: 1800ms;
}
.menu__choix:nth-child(19) {
  animation-delay: 1900ms;
}
.menu__choix:nth-child(20) {
  animation-delay: 2000ms;
}
.menu__choix:nth-child(21) {
  animation-delay: 2100ms;
}
.menu__choix:nth-child(22) {
  animation-delay: 2200ms;
}
.menu__choix:nth-child(23) {
  animation-delay: 2300ms;
}
.menu__choix:nth-child(24) {
  animation-delay: 2400ms;
}
.menu__choix:nth-child(25) {
  animation-delay: 2500ms;
}
.menu__choix:nth-child(26) {
  animation-delay: 2600ms;
}
.menu__choix:nth-child(27) {
  animation-delay: 2700ms;
}
.menu__choix:nth-child(28) {
  animation-delay: 2800ms;
}
.menu__choix:nth-child(29) {
  animation-delay: 2900ms;
}
.menu__choix:nth-child(30) {
  animation-delay: 3000ms;
}
.menu__choix:nth-child(31) {
  animation-delay: 3100ms;
}
.menu__choix:nth-child(32) {
  animation-delay: 3200ms;
}
.menu__choix:nth-child(33) {
  animation-delay: 3300ms;
}
.menu__choix:nth-child(34) {
  animation-delay: 3400ms;
}
.menu__choix:nth-child(35) {
  animation-delay: 3500ms;
}
.menu__choix:nth-child(36) {
  animation-delay: 3600ms;
}
.menu__choix:nth-child(37) {
  animation-delay: 3700ms;
}
.menu__choix:nth-child(38) {
  animation-delay: 3800ms;
}
.menu__choix:nth-child(39) {
  animation-delay: 3900ms;
}
.menu__choix:nth-child(40) {
  animation-delay: 4000ms;
}
.menu__choix:nth-child(41) {
  animation-delay: 4100ms;
}
.menu__choix:nth-child(42) {
  animation-delay: 4200ms;
}
.menu__choix:nth-child(43) {
  animation-delay: 4300ms;
}
.menu__choix:nth-child(44) {
  animation-delay: 4400ms;
}
.menu__choix:nth-child(45) {
  animation-delay: 4500ms;
}
.menu__choix:nth-child(46) {
  animation-delay: 4600ms;
}
.menu__choix:nth-child(47) {
  animation-delay: 4700ms;
}
.menu__choix:nth-child(48) {
  animation-delay: 4800ms;
}
.menu__choix:nth-child(49) {
  animation-delay: 4900ms;
}
.menu__choix:nth-child(50) {
  animation-delay: 5000ms;
}
.menu__choix:nth-child(51) {
  animation-delay: 5100ms;
}
.menu__choix:nth-child(52) {
  animation-delay: 5200ms;
}
.menu__choix:nth-child(53) {
  animation-delay: 5300ms;
}
.menu__choix:nth-child(54) {
  animation-delay: 5400ms;
}
.menu__choix:nth-child(55) {
  animation-delay: 5500ms;
}
.menu__choix:nth-child(56) {
  animation-delay: 5600ms;
}
.menu__choix:nth-child(57) {
  animation-delay: 5700ms;
}
.menu__choix:nth-child(58) {
  animation-delay: 5800ms;
}
.menu__choix:nth-child(59) {
  animation-delay: 5900ms;
}
.menu__choix:nth-child(60) {
  animation-delay: 6000ms;
}
.menu__choix:nth-child(61) {
  animation-delay: 6100ms;
}
.menu__choix:nth-child(62) {
  animation-delay: 6200ms;
}
.menu__choix:nth-child(63) {
  animation-delay: 6300ms;
}
.menu__choix:nth-child(64) {
  animation-delay: 6400ms;
}
.menu__choix:nth-child(65) {
  animation-delay: 6500ms;
}
.menu__choix:nth-child(66) {
  animation-delay: 6600ms;
}
.menu__choix:nth-child(67) {
  animation-delay: 6700ms;
}
.menu__choix:nth-child(68) {
  animation-delay: 6800ms;
}
.menu__choix:nth-child(69) {
  animation-delay: 6900ms;
}
.menu__choix:nth-child(70) {
  animation-delay: 7000ms;
}
.menu__choix:nth-child(71) {
  animation-delay: 7100ms;
}
.menu__choix:nth-child(72) {
  animation-delay: 7200ms;
}
.menu__choix:nth-child(73) {
  animation-delay: 7300ms;
}
.menu__choix:nth-child(74) {
  animation-delay: 7400ms;
}
.menu__choix:nth-child(75) {
  animation-delay: 7500ms;
}
.menu__choix:nth-child(76) {
  animation-delay: 7600ms;
}
.menu__choix:nth-child(77) {
  animation-delay: 7700ms;
}
.menu__choix:nth-child(78) {
  animation-delay: 7800ms;
}
.menu__choix:nth-child(79) {
  animation-delay: 7900ms;
}
.menu__choix:nth-child(80) {
  animation-delay: 8000ms;
}
.menu__choix:nth-child(81) {
  animation-delay: 8100ms;
}
.menu__choix:nth-child(82) {
  animation-delay: 8200ms;
}
.menu__choix:nth-child(83) {
  animation-delay: 8300ms;
}
.menu__choix:nth-child(84) {
  animation-delay: 8400ms;
}
.menu__choix:nth-child(85) {
  animation-delay: 8500ms;
}
.menu__choix:nth-child(86) {
  animation-delay: 8600ms;
}
.menu__choix:nth-child(87) {
  animation-delay: 8700ms;
}
.menu__choix:nth-child(88) {
  animation-delay: 8800ms;
}
.menu__choix:nth-child(89) {
  animation-delay: 8900ms;
}
.menu__choix:nth-child(90) {
  animation-delay: 9000ms;
}
.menu__choix:nth-child(91) {
  animation-delay: 9100ms;
}
.menu__choix:nth-child(92) {
  animation-delay: 9200ms;
}
.menu__choix:nth-child(93) {
  animation-delay: 9300ms;
}
.menu__choix:nth-child(94) {
  animation-delay: 9400ms;
}
.menu__choix:nth-child(95) {
  animation-delay: 9500ms;
}
.menu__choix:nth-child(96) {
  animation-delay: 9600ms;
}
.menu__choix:nth-child(97) {
  animation-delay: 9700ms;
}
.menu__choix:nth-child(98) {
  animation-delay: 9800ms;
}
.menu__choix:nth-child(99) {
  animation-delay: 9900ms;
}
.menu__choix--plat {
  overflow: hidden;
}
.menu__choix--plat h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
}
.menu__choix--plat p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.menu__choix--prix {
  margin-left: auto;
  padding-top: 27px;
  font-weight: 700;
}
.menu__choix--check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  border-radius: 0 12px 12px 0;
  width: 64px;
  margin: -15px -79px -15px 0px;
  transition: margin-right 0.5s;
}
.menu__choix--check i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: white;
  border-radius: 16px;
  width: 30px;
  height: 30px;
  color: #99e2d0;
}
.menu__choix:hover .menu__choix--check {
  margin-right: -15px;
}
.menu__order {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__order--button {
  height: 50px;
  padding: 0px 18.75px;
  margin-top: 27px;
  color: white;
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition-duration: 300ms;
  max-width: 218px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(#9356dc -11.44%, #FF79DA 123.93%);
  padding: 0 50px;
  margin: 40px 0;
}
.menu__order--button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

@media (min-width: 1080px) {
  .header {
    width: 100%;
  }
  .header img {
    height: 22vh;
  }
  .main-container-resto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1055px;
  }
  .menu h3 {
    display: flex;
    width: 100%;
    max-width: 634px;
  }
  .menu__choix {
    width: 100%;
    max-width: 634px;
  }
  .main-resto {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .main-resto h2 {
    display: flex;
    justify-content: center;
  }
  .main-resto h2 i {
    right: 351px;
  }
}