/****** General ***********/

* {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}

:root {
    --purple-color: #9356dc;
    --pink-color: #ff79da;
    --green-color: #99e2d0;
    --grey-filter:#eaeaea;
    --grey-darker:#353535;
    --light-grey-background:#f6f6f6;
}

a {
    color:var(--grey-darker);
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    .header__logocontainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-top: 14px;
        padding-bottom: 13px;
        gap:calc((1/2) * (100% - (162px)) - 47px);
    }
        .header__logocontainer--previously {
            display: flex;
            height: 30px;
            width: 30px;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
        .header__logocontainer--logo {
            width:162px;
            height:36px;
            align-items: center;
            padding-right: calc((1/2)* (100% - 162px));
        }
    .header__localisation{
        display: flex;
        width:100%;
        gap: 17px;
        color:var(--grey-darker);
        background-color: var(--grey-filter);
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
}

.firstpart{
    display: flex;
    flex-direction: column;
    .firstpart__intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--light-grey-background);
        padding-top:39px;
        padding-bottom: 57px;
        h2{
            display: flex;
            width:275px;
            height:68px;
            align-items: center;
            text-align: center;
        }
        p{
            display: flex;
            width:315px;
            height:46px;
            align-items: center;
            text-align: center;
            font-size: 1.125em;
            font-weight: 300;
           color: var(--grey-darker);
        }
        .firstpart__intro--button{
            height:50px;
            padding: 0px 18.75px;
            margin-top: 27px;
        
            background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #FF79DA 123.93%));
            color:white;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        
            border-radius: 25px;
        
            box-sizing: border-box;
        
            display: flex;
            align-items: center;
            justify-content: center;
        
            text-decoration: none;
        }
    }
    .firstpart__fonctionnement{
        display: flex;
        flex-direction: column;
        padding: 48px 20px 68px 20px;
        gap:26px;
        h2{
            display: flex;
            justify-content: flex-start;
            text-align: center;
        }
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:25px;
            list-style-type: none;
            li{
                display:flex;
                width:322px;
                height: 72px;;
                gap:27px;
                text-align: center;
                counter-increment: list;
                border-radius: 20px;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            }
            li::before{
                display: flex;
                content: counter(list);
                border-radius: 50%;
                background-color: var(--purple-color);
                font-size: 14px;
                color: white;
                font-weight: 500;
                width: 24px;
                height: 24px;
                justify-content: center;
                align-items: center;
                margin-top: 26.86px;
                margin-left: -14px;
                z-index: 1;
                position: absolute;
            }
        }
    }
}
.firstpart__fonctionnement--etape {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 22px;
    gap:27px;
    width:100%;
  }
  
  .fa-mobile-screen-button,
  .fa-list
  {
    color: var(--grey-4)
  }
  
  .fa-store{
    color:var(--primary)
  }