/****** General ***********/
@use "../utils/colors.scss";
@use "../utils/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@200;400&family=Montserrat&family=Roboto:ital,wght@1,100;1,400&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@200;400&family=Montserrat&family=Roboto:ital,wght@0,400;1,100;1,400&family=Shrikhand&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    $loadertimer: 2s;
    background-color: colors.$light-grey-background;
    position: fixed;
    height: 100vh;
    inset: 0;
    z-index:2;
    opacity: 0.9;
    animation: fader 0.5s $loadertimer both;
    transform-origin: top;
    &::after{
        content:'';
        width:50px;
        height:50px;
        border-top: solid 5px colors.$purple;
        border-bottom:solid 5px colors.$pink;
        border-radius: 50%;
        animation: spin $loadertimer linear;
        z-index:3;
    }
}
