@use "../utils/colors.scss";
@use "../utils/mixins.scss";
@use "../utils/animation.scss";

header img{
    display: block;
    width: 100%;
    height:36vh;
    object-fit: cover;
}

.main-resto{
    display: flex;
    flex-direction: column;
    gap:40px;
    background: colors.$light-grey-background;
    max-width: 1055px;
    & h2{
        font-family: 'shrikhand', sans-serif;
        position: relative;
        width:100%;
        padding: 32px 17px 0px 17px;
        margin-top: -32px;
        border-radius: 32px 32px 0 0;
        background: colors.$light-grey-background;
        max-width: 1055px;
        & i{
            position:absolute;
            right:28px;
            top:36.5px;
        }
        & .fa-solid{
            opacity:0;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            transition-duration: 1s;
            @include mixins.linearGradient;
            @include mixins.minizoom;
        }
        & .fa-solid:hover{
            opacity:1;
        }
    }
}

.menu {
    display:flex;
    flex-direction: column;
    gap: 12px;
    padding:13px;
    & h3{
        font-size: 1rem;
        font-weight: 300;
        position: relative;
        padding-bottom: 12px;
    }
    & h3::before{
        content:"";
        position: absolute;
        width:40px;
        height:3px;
        background-color: colors.$green;
        top:29px;
        }
    &__choix{
        $nombreplatsmax:99;
        @for $i from 1 through $nombreplatsmax {
            &:nth-child(#{$i}) {
                animation-delay: 100ms * $i;
            }
        }
        display:flex;
        flex-direction: row;
        padding:15px;
        gap:5px;
        border-radius: 12px;
        @include mixins.shadow;
        overflow: hidden;
        animation: showup 1s;
        animation-fill-mode: both;
        background-color: white;
        &--plat{
            overflow: hidden;
            h4{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 18px;
                font-weight: 500;
                padding-bottom: 5px;
            }
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 300;
            }
        }
        &--prix{
            margin-left: auto;
            padding-top: 27px;
            font-weight: 700;
        }
        &--check{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: colors.$green;
            border-radius: 0 12px 12px 0;
            width: 64px;
            margin: -15px -79px -15px 0px;
            transition: margin-right 0.5s;
            i{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                background-color: white;
                border-radius: 16px;
                width: 30px;
                height:30px;
                color:colors.$green;
            }
        }
        &:hover .menu__choix--check{
            margin-right:-15px;
        }
    }
    &__order{
        display: flex;
        align-items: center;
        justify-content: center;
        &--button{
            @include mixins.button-beauty;
            padding: 0 50px;
            margin:40px 0;
        }
        &--button:hover{
            transform: scale(1.05);
            opacity:0.9;
        }
    }
}

@media (min-width: 1080px) {
.header{
    width: 100%;
    img{
        height: 22vh;
    }
}
.main-container-resto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1055px;;
    h3{
        display: flex;
        width:100%;
        max-width: 634px;
    }
    &__choix{
        width:100%;
        max-width: 634px;
    }
}
.main-resto{
    display: flex;
    justify-content: center;
    width: 100%;
    h2{
        display: flex;
        justify-content: center;
        i{
            right:351px;
        }
    }
}
}